.brunch-card-container {
  background-color: $color-dark;
  color: $color-light;

  .buttons {
    display: flex;
    border-bottom: 1px solid $color-light;
    padding: 1vh 4vw 2vh 4vw;
    color: $color-light;
    align-self: center;

    .button {
      color: $color-light;
      align-self: center;
      background-color: $color-dark;
      border: none;
    }
  }

  i {
    padding: 0 1vw;
  }

  .button:hover {
    @include opacity;
  }
}

.brunch-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-light;
  padding-bottom: 2vh;

  .social-media-button {
    background-color: $color-dark;
    color: $color-light;
    border: none;
    align-self: flex-start;
    padding: 3vh 3vh 0 3vh;
  }

  h1 {
    font-family: $font-bold;
    letter-spacing: 3px;
    font-size: 4vh;
    padding-left: 4vw;
    color: $color-light;
  }
  p {
    margin: 0 4vw;
  }
  a {
    text-decoration: none;
    color: $color-light;
  }
}

.hike-sign {
  font-family: $font-bold;
  letter-spacing: 3px;
  font-size: 4vh;
  padding: 2vh 4vw;
}

.hike-info-container {
  @include info-container;
  padding: 0 4vw 4vw 4vw;

  .share-button {
   background-color: $color-dark;
   color: $color-light;
   border: none;
   align-self: flex-start;
   padding: 0 3vh 0 0;
 }

  h1 {
    font-family: $font-bold;
    letter-spacing: 3px;
    font-size: 4vh;
  }

  a {
    text-decoration: none;
    color: $color-darkest;
  }

  a:hover {
    @include opacity;
  }

  p {
    margin: 0;
  }

  border-bottom: 1px solid $color-light;
}
