.hike-card-container {
  background-color: $color-dark;
  color: $color-light;

  .buttons {
    display: flex;
    border-bottom: 1px solid $color-light;
    padding: 1vh 4vw 2vh 4vw;
    color: $color-light;
    align-self: center;

    .button {
      color: $color-light;
      align-self: center;
      background-color: $color-dark;
      border: none;
    }

  }

  i {
    padding: 0 1vw;
  }

  .button:hover {
    @include opacity;
  }
}

.hike-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-light;
  padding-bottom: 2vh;
  background-color: $color-dark;

  .social-media-button, .share-button {
    background-color: $color-dark;
    color: $color-light;
    border: none;
    align-self: flex-start;
    padding: 0 3vh;
  }

  h1 {
    font-family: $font-bold;
    letter-spacing: 3px;
    font-size: 4vh;
    padding: 0 4vw;
    color: $color-light;
  }

  p {
    margin: 0 4vw;
    color: $color-light;
    font-family: $font-thin;
  }

  a {
    text-decoration: none;
    color: $color-light;
  }
}

.brunch-sign {
  font-family: $font-bold;
  letter-spacing: 3px;
  font-size: 4vh;
  padding: 2vh 4vw;
}

.brunch-info-container,
.results-div {
  @include info-container;
  padding: 0 4vw 4vw 4vw;

  .social-media-button, .share-button {
    background-color: $color-dark;
    color: $color-light;
    border: none;
    align-self: flex-start;
    padding: 0;
  }

  h1 {
    font-family: $font-bold;
    letter-spacing: 3px;
    font-size: 4vh;
  }

  a {
    text-decoration: none;
    color: $color-light;
  }

  a:hover {
    @include opacity;
  }

  i {
    color: white;
    padding: 2vw;

  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .search-result {
    display: flex;
    align-content: center;
    border-bottom: 1px solid desaturate(lighten($color-medium, 30%), 80%);

    .submit-input {
      padding: 0;
      align-self: center;
      background-color: $color-dark;
      border-style: none;
    }

    a,
    p {
      align-self: center;
      color: $color-light;
    }
  }

  a,
  p {
    margin: 0;
    color: $color-light;
    padding: 0;
  }

  border-bottom: 1px solid $color-light;
}
