.hike-card-container {
  background-color: white;
  color: black;

  .buttons {
    display: flex;
    border-bottom: 1px solid black;
    padding: 1vh 4vw 2vh 4vw;
    color: black;
    align-self: center;

    .button {
      color: black;
      align-self: center;
      background-color: black;
      border: none;
    }
  }

  i {
    padding: 0 1vw;
  }

  .button:hover {
    opacity: .5;
  }
}

.hike-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 2vh;

  h1 {
    font-family: black;
    letter-spacing: 3px;
    font-size: 5vh;
    padding-left: 4vh;
  }
  p {
    margin: 0 4vw;
  }
}

.brunch-sign {
  text-align: center;
  font-family: $font-headings;
  letter-spacing: 3px;
  font-size: 5vh;
  padding: 2vh 4vw;
  margin: 1vh 1vw;
}

.brunch-info-container {
  @include info-container;
  padding: 0 4vw 4vw 4vw;

  h1 {
    font-family: $font-headings;
    letter-spacing: 3px;
    font-size: 5vh;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    opacity: .5;
  }

  p {
    margin: 0;
  }

  border-bottom: 1px solid black;
}
