.login-container {
  background-color: white;
  background-size: 100vh;
  height: 100vh;
  width: 100vw;
  color: black;
  font-family: $font-text;
  display: flex;
  flex-direction: column;

  .alert {
    padding-left: 2vh;
    color: #ff4f33;
    font-size: 3vh;
  }

  .login-form-container {
    display: flex;
    color: black;
    font-family: $font-headings;
    flex-direction: column;
    padding-top: 16vh;

    input {
      margin: 3vh 0;
      padding: 0 0 6vh 0;
      font-family: $font-headings;
      color: black;
      letter-spacing: 1px;
    }

    input::placeholder {
      color: black;
      opacity: .6;
    }

    .text-input {
      color: black;
      background-color: white;
      border: none;
      border-bottom: 1px solid black;
      padding: 2vw 6vw;
      font-size: 3vh;
    }

    .submit-input {
      color: black;
      border: 1px solid black;
      background-color: white;
      font-family: $font-text;
      letter-spacing: 2px;
      font-size: 5vh;
      padding: 2vh 4vw;
      margin: 2vh auto;
      border-radius: 2px;
    }

    .submit-input:hover {
      opacity: .6;
    }
  }
}
