.login-container {
  background-color: $color-light;
  background-size: 100vh;
  height: 100vh;
  width: 100vw;
  color: $color-darkest;
  font-family: $font-thin;
  display: flex;
  flex-direction: column;

  .alert {
    @include alert-styles
  }

  .login-form-container {
    display: flex;
    color: $color-darkest;
    font-family: $font-bold;
    flex-direction: column;
    padding-top: 9vh;

    input {
      margin: 3vh 0;
      padding: 0 0 6vh 0;
      font-family: $font-thin;
      color: $color-darkest;
      letter-spacing: 1px;
    }

    input::placeholder {
      color: $color-dark;
      @include opacity;
    }

    .text-input {
      color: $color-darkest;
      background-color: $color-light;
      border: none;
      @include input-border;
      padding: 2vw 6vw;
      font-size: 3vh;
    }

    .submit-input {
      color: $color-darkest;
      font-family: $font-thin;
      letter-spacing: 2px;
      font-size: 4vh;
      @include button-border;
    }

    .submit-input:hover {
      @include opacity;
    }

    .nav-button {
      background-color: $color-light;
      border: none;
      margin: 2vh auto;
      font-family: $font-bold;
    }

    .nav-button:hover {
      @include opacity;
    }
  }
}
