@mixin title-styles {
  font-family: $font-stack;
  letter-spacing: 3px;
  font-size: 5vw;
  color: $primary-color;
  padding: 2vh 4vw;
  margin: 1vh 1vw;
}

@mixin info-container {
  display: flex;
  flex-direction: column;
}
