.navbar {
  //@include section-border;
  display: flex;
  justify-content: space-between;

  a {
    display: flex;
    padding: 2vh;
    align-self: center;

    i {
      text-decoration: none;
      font-size: 4vh;
    }
  }

  .app-title {
    font-family: $font-bold;
    letter-spacing: 3px;
    font-size: 5vh;
    color: $color-dark;
    margin: 1vh;
  }

  .app-title:hover {
    @include opacity;
  }
}
