.welcome-container {
  display: flex;
  justify-content: center;
  background-color: #00654B;
  .trail {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    font-size: 5vh;
    color: #F9FFFE;
    padding: 2vh 4vw;
    margin: 1vh 1vw;
  }
}
