.welcome-container {
  display: flex;
  background-color: $color-light;
  @include section-border;

  .trail {
    font-family: $font-bold;
    letter-spacing: 3px;
    font-size: 4vh;
    color: $color-dark;
    padding: 6vh 4vw 2vh 4vw;
  }
}
