.welcome-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //overflow: hidden;

  .welcome-text .app-title {
    display: flex;
    justify-content: center;
    // font-family: 'Love Ya Like A Sister', cursive;
    font-size: 6vw;
    // color: #7f0509;
    margin: 0;
    padding: 2vh;
  }

  p {
    display: flex;
    justify-content: center;
    // font-family: 'Patrick Hand', cursive;
    font-size: 3vw;
    // color: #005E7A;
  }
  .link-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 2vh 1vw;
    font-size: 3vw;
  }

}

.welcome-container:before {
  // content: ' ';
  // background-image: url('../images/averie-woodard-123973.jpg');
  // opacity: 0.3;
  // position: absolute;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
  // background-size: cover;
}

.login-container {
  // background-image: url('../images/piyanut-suntaranil-223184.jpg');
}

.signup-container {
  // background-image: url('../images/piyanut-suntaranil-223184.jpg');
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2vh 2vw;

  .text-input {
    font-size: 3vw;
  }
  // background-image: url('../images/aaron-burden-75599.jpg');
}

h1 {
  // font-family: 'Love Ya Like A Sister', cursive;
  font-size: 6vw;
  // color: #7f0509;
  margin: 0;
  padding: 2vh;
}
p {
  // font-family: 'Patrick Hand', cursive;
  font-size: 4vw;
  // color: #005E7A;
}
img {
  width: 100%;
  height: 100vh;
}

.popover {
  background-color: #fafafa;
  width: 60%;
  font-size: 10px;
  p {
    font-size: 10px;
    padding: 2px;
  }
  overflow: scroll;
}

.mapboxgl-popup.mapboxgl-popup-anchor-right {
 
}
