@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'welcome';
@import 'login';
@import 'signup';
@import 'search';
@import 'hike';
@import 'brunch';
@import 'theadventure';

body {
  background-color: $color-light;
}

// main {
//   max-width: 800px;
// }

.app-container {
  background-color: $color-light;
  // max-width: 800px;
  // text-align: center;
  // margin: 0 auto;
}

.link-button,
.social-media-button,
.share-button {
  font-family: $font-thin;
  font-weight: bold;
  text-decoration: none;
  font-size: 3vh;
  color: $color-dark;
  background-color: $color-light;
}

.link-button:hover {
  @include opacity;
}

.directions-control {
  display: none !important;
}

//http://codepen.io/balapa/pen/embYYB
