@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'welcome';
@import 'login';
@import 'signup';
@import 'search';
@import 'hike';
@import 'brunch';

.app-container {
  background-color: $color-light;
}

.link-button, .yelp-button, .share-button{
  font-family: $font-thin;
  font-weight: bold;
  text-decoration: none;
  font-size: 3vh;
  color: $color-dark;
  background-color: $color-light;
}

.link-button:hover {
  @include opacity;
}

.directions-control {
  display: none !important;
}

//http://codepen.io/balapa/pen/embYYB
